<form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
  <div class="input-group mb-3">
    <input type="text" id="name" name="name" formControlName="name" class="form-control" placeholder="Nom de la société"
      aria-label="Nom de la société">
    <span class="input-group-text"></span>
    <input type="text" id="domain" name="domain" formControlName="domain" class="form-control"
      placeholder="Nom de domaine" aria-label="Nom de domaine">

    <button type="submit" [disabled]="companyForm.invalid" class="btn btn-dark">Search</button>
  </div>
  <div class="container" *ngIf="submitted && companyForm.value.name">
    <p> Click here to see the results: <a href="/company/{{ companyForm.value.name }}">{{ companyForm.value.name }}</a></p>
  </div>
</form>
